doctype html
html
  head
    title HADES Result
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-layers.min.js')
    script(src='js/init.js')
    script.
      function showDiv() {
      document.getElementById('loadingGif').style.display = "block";
      }
      function submit_ok() {
      document.getElementById('OK').style.display = "block";
      }
    noscript
      link(rel='stylesheet', href='css/skel.css')
      link(rel='stylesheet', href='css/style.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body.no-sidebar
    // Header
    #header
      .container
        Logo
        h1
          a(href='/')#logo HADES
        // Nav
        nav#nav
          ul
            li
              a(href='/') Home
            li
              a(href='/aboutsystem') About HADES
            li
              a(href='/references') References
    // Main
    #main.wrapper.style1
      .container
        section
          header.major
            h2 Recommended Results
            span.byline Please choose the tags relative to the given image. 
            br
            span.byline Your feedback is helpful for us. Thanks.

                    
          .row.no-collapse-1
            section.6u
              a.image.feature
                img(src="#{imagePath}" alt="Cannot show the image.")
            section.6u
              form(action="/showimgtag/feedback", method="post", name="form")
                each tag in tags
                  label.option1
                    input(type='checkbox', name='tag1') 
                    | ##{tag.one}
                  label.option2
                    input(type='checkbox', name='tag2') 
                    | ##{tag.two}
                  label.option3
                    input(type='checkbox', name='tag3') 
                    | ##{tag.three}
                  label.option4
                    input(type='checkbox', name='tag4') 
                    | ##{tag.four}
                  label.option5
                    input(type='checkbox', name='tag5') 
                    | ##{tag.five}
                  label.option1
                    input(type='checkbox', name='tag6') 
                    | ##{tag.six}
                  label.option2
                    input(type='checkbox', name='tag7') 
                    | ##{tag.seven}
                  label.option3
                    input(type='checkbox', name='tag8') 
                    | ##{tag.eight}
                  label.option4
                    input(type='checkbox', name='tag9') 
                    | ##{tag.nine}
                  label.option5
                    input(type='checkbox', name='tag10') 
                    | ##{tag.ten}
                br
                br 
                label.option_submit
                  //input(style='display:none;', type='submit')
                  input(style='display:none;', type='submit', onclick='submit_ok();')
                  i.fa.fa-arrow-circle-right
                  |  SUBMIT
              #OK(style='display:none;')
                |        Submit successfully!

              form(ref='uploadForm', id='Form', action="/", method="post", encType='multipart/form-data')
                label.option_submit
                    input(type='file',name="sendFile", style='display:none;', onchange='this.form.submit(); showDiv();')
                    i.fa.fa-photo
                    |  RESEND
              #loadingGif(style='display:none;')
                | Loading...

    

    // Footer
    #footer
      // Copyright
      .copyright
        span 
        a(href='http://arbor.ee.ntu.edu.tw/') Netwok Database Lab
        | , National Taiwan University
        br
        span Kuan-Ting Lai, Yu-Chi Chen, Chih-En Huang, Jyun-Jhu Syu, 
        a(href='http://arbor.ee.ntu.edu.tw/~mschen/') Ming-Syan Chen
